/* Estilos generales de la pagina web */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.41vw;
    background: rgb(11, 52, 52);
}
h2{
    color: wheat;
}

nav {
    width: 95%;
}

.slider {
    width: 90vw;

}

.slider .img-slider {
    width: 1200px;
    height: 400px;
}

.cards {
    width: 100%;
}
.card {
    width: 100%;
    height: 400px; /* Fija una altura para todas las tarjetas */
  }
  
  .card-img-top {
    height: 200px; /* Controla la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para distribuir uniformemente el contenido */
  }
  
  .card-title, .card-text, .btn {
    margin-bottom: 10px;
  }
  